@import '../../styles/colors.scss';

.header {
  background: rgb($jp-blue, 0.8);
  position: fixed;
  width: 100vw;
  color: white;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  font-size: 1vw;
}

.header-nav {
  list-style-type: none;
  display: flex;

  li {
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    text-decoration: none;
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

.header-logo {
  font-family: sofia, serif;
  margin-left: auto;
}

@media (max-width: 760px) {
  .header-nav {

  }
  .header-logo {
    
  }
}
