@import '../../styles/colors.scss';

.about-overlay {
  background: rgb($jp-purple, 0.8);
  position: absolute;
  border-radius: 5%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35vh;
  width: 35vw;
}

.about-text {
  font-size: 24px;
  color: $jp-white;
  font-family: serif;
  vertical-align: middle;
  padding-left: 1%;
}
