@import '../../styles/colors.scss';

.header {
  background: rgb($jp-blue, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  z-index: 2;
}

.dot-logo:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(540deg);
  -moz-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
}

@media (max-width: 760px) {
  .header-nav {

  }
  .header-logo {
    
  }
}
