@import "../../styles/colors.scss";

.bio-page {
  color: $jp-purple;
  width: 80vw;
  min-height: 100vh;
  padding-left: 10vw;
  padding-right: 10vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bio-image {
  height: 80vh;
  width: 30vw;
  display: flex;
  position: relative;
}

.bio-text {
  height: 80vh;
  width: 30vw;
  display: flex;
  position: relative;
  background-color: rgb($jp-blue, 0.8);
  color: $jp-white;
  text-align: center;
  font-size: 28px;
}
