<div id="bio" class="bio-page">
  <img class="bio-image" src="../../assets/bio-image2.jpg" />
  <div class="bio-text">
    <p>
      Hello there! I'm James Pica, a dedicated full stack developer. Originally
      from Long Island, New York, I graduated from the University at Albany in 2016 with
      a bachelors in computer science and applied mathematics. I've since moved to Balitmore, Maryland.
    </p>
    <p>
      I've got a passion for learning, I am constantly trying to hone my development skills. I strive for the optimal solutions
    </p>
  </div>
</div>
